.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(135deg, black, blue);
  opacity: 0.3;
  z-index: 9;
}

.popup-containe {
  width: 500px;
  min-height: 200px;
  background: #fff;
  z-index: 10;
  position: fixed;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 2px 2px 20px #02021f4d;
  overflow: hidden;
}

.popup-content {
  max-height: calc(100vh - 200px);
  overflow: auto;
}

.popup-content::-webkit-scrollbar {
  display: none;
}
